
          <div class="row">
            <h3>The underscore</h3>

            <p>
            This character is great for games like What's the Phrase (a knock off of Wheel of Fortune)
            </p>

            <p>
            Think a word and type a word into the text box with the following pattern:
            </p>

            <pre>
st_c_
            </pre>

            <p>
            and you'll get a random word such as:
            </p>

            <pre>
stack
            </pre>

            <p>
            but keep in mind you wont always get the same word!!!
            </p>

            <p>
            So, Write letters and choose length of your word with lots of underscores(if word exists.).
            </p>

            <pre>
              You Better Pray for your win!!!
            </pre>

          </div>
        </div>
      </div>
    </body>
</html>